# Quality Assurance Review: {{cookiecutter.project_name}}

A review of the data mining engagment to determine if any important factor/task has been overlooked.

## Process Overview

## Process Review

### Successes

### Failures

### Misleading Steps

### Data Mining Results

## Next Steps

### Possible Actions

### Decision